<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../media/css/style.css" type="text/css" media="screen" />
    </head>
    <body>
        <div id="vis" class="blueup">
            <div id="logo">
                <img class="derplogo" src="http://10.50.213.8/assets/derp_logo1.png">
            </div>
            <div class="nowplaying">
                <p>NOW PLAYING</p>
                <div class="artist">Apollo 440</div>
                <div class="song">For Forty Days</div>
            </div>
            <div class="schedule">
                <img class="presenterimage" src="http://10.50.213.8/assets/3a5ff17d3980d262.png">
            </div>
        </div>
    </body>
</html>